<style>
    .box {
        font-family: "Ink Free";
        font-size: 25px;
        font-weight: bolder;
        border: 4px solid rgb(0, 0, 0);
        border-radius: 20px;
    }

    .btn {
        font-family: "Matura MT Script Capitals";
        font-size: 20px;
    }
</style>

<div class="container">
    <div class="row my-3">
        <div class="col-7 text-danger bg-light my-5 mx-auto p-5 box">
            <div class="row text-center">
                We apologize for the inconvenience!
                <br> The system has yet to find a solution on YouTube for logging in with the MEAN stack.
                <br> We'll figure out a solution as soon as possible!
                <br> Kindly proceed to Registration for continuation.
                <br> Thank you so much for your support!
            </div>
            <div class="row text-center">
                <div class="col text-center">
                    <span class="spinner-border"></span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-warning mt-4" (click)="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>

</div>